* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #000;
    display: flex;
    flex-direction: column;
    color: #9f9f9f;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #999;
    text-decoration: none;
}

header,
/* main, */
footer {
    padding: 8px 8px;
}

header {
    background: #091929;
    position: sticky;
    top: 0px;
    left: 0px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a img {
    height: 48px;
    vertical-align: middle;
    margin-right: 8px;
}

.navbar ul li a span {
    display: inline-block;
}

.navbar ul li a img,
.navbar ul li a span {
    transition: opacity 0.3s ease;
}

.spacer {
    flex: 1;
}

.navbar-item {
    margin-right: 32px;
}

.navbar-item a {
    transition: opacity 0.3s ease;
}

.navbar-item-selected a:hover {
    opacity: 0.6;
}

.navbar-item a:hover {
    opacity: 0.6;
}

.navbar-item-selected {
    margin-right: 32px;
}

.navbar-item-selected a {
    color: #0F7A71;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* row-gap: 16px; */
}

footer {
    text-align: center;
}

.navbar-hamburger-menu {
    min-width: 30px;
    cursor: pointer;
    text-align: center;
    display: none;
}

.navbar-item.navbar-menu-close {
    display: none;
    cursor: pointer;
}

.navbar-item.navbar-menu-close:hover {
    opacity: 0.6;
}

@keyframes loading-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home-body {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    row-gap: 0px;
}

@media (max-width: 768px) {
    .home-body {
        display: flex;
        flex-direction: column;
        column-gap: 0px;
        row-gap: 8px;
    }

    .navbar ul {
        display: none;
    }

    .navbar-hamburger-menu {
        display: block;
    }

    .navbar-item.navbar-menu-close {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        text-align: right;
    }

    .navbar-item a {
        display: block;
        padding: 16px;
    }

    .navbar-item-selected a {
        display: block;
        padding: 16px;
    }

    .navbar.responsive ul {
        display: flex;
    }

    .navbar.responsive {
        align-items: flex-start;
    }

    .navbar-hamburger-menu.visible {
        display: none;
    }

    .navbar-item {
        margin-right: 0px;
    }

    .navbar-item-selected {
        margin-right: 0px;
    }
}
