* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #000;
    display: flex;
    flex-direction: column;
    color: #9f9f9f;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #999;
    text-decoration: none;
}

header,
/* main, */
footer {
    padding: 8px 8px;
}

header {
    background: #091929;
    position: sticky;
    top: 0px;
    left: 0px;
}

.test-color {
    background: #552c00;
}

.app-logo {
  display: flex;
  align-items: center;
}

.app-logo img {
  vertical-align: middle;
}

.navbar {
  display: flex;
  align-items: center; /* vertically center children */
  justify-content: space-between; /* optional: separate logo and menu */
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    transition: right 0.3s ease;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a img {
    height: 48px;
    vertical-align: middle;
    margin-right: 8px;
}

.navbar ul li a span {
    display: inline-block;
}

.navbar ul li a img,
.navbar ul li a span {
    transition: opacity 0.3s ease;
}

.navbar-item {
    margin-right: 32px;
}

.navbar-item a {
    transition: opacity 0.3s ease;
}

.navbar-item-selected a:hover {
    opacity: 0.6;
}

.navbar-item a:hover {
    opacity: 0.6;
}

.navbar-item-selected {
    margin-right: 32px;
}

.navbar-item-selected a {
    color: #0F7A71;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* row-gap: 16px; */
}

footer {
    text-align: center;
}

.navbar-hamburger-menu {
    min-width: 30px;
    text-align: center;

    display: none;
    font-size: 32px;
    cursor: pointer;
}

.navbar-item.navbar-menu-close {
    display: none;
    cursor: pointer;
}

.navbar-item.navbar-menu-close:hover {
    opacity: 0.6;
}

@keyframes loading-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home-body {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    row-gap: 0px;
}

@media screen and (max-width: 768px) {
    .home-body {
        display: flex;
        flex-direction: column;
        column-gap: 0px;
        row-gap: 8px;
    }

    .navbar-hamburger-menu {
        display: inline-block;
    }

    .navbar-item.navbar-menu-close {
        display: block;
        position: absolute;
        top: 13px;
        right: 10px;
        font-size: 32px;
        cursor: pointer;
    }

    .navbar ul {
        display: none;
        text-align: right;

        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        max-width: 200px;
        background: #091929;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 64px;
        z-index: 1000;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    }

    .navbar-item a {
        display: block;
        padding: 16px;
    }

    .navbar-item-selected a {
        display: block;
        padding: 16px;
    }

    .navbar.responsive ul {
        display: flex;
        right: 0;
    }

    .navbar.responsive {
        align-items: center;
    }

    .navbar-item {
        margin-right: 0px;
    }

    .navbar-item-selected {
        margin-right: 0px;
    }
}
